/* h1 {
    color: green;
}
h1 {
    color: blue;
}
h1 {
    color: red;
}
h1 {
    color: yellow;
} */



.block {
    color:darkorange
}
h1.block {
    color:purple
}

.usercard___image {
    width: 512px;
    height: 512px;
    background-color: blanchedalmond;
    border-radius: ;
}